body {
    margin: 0;
    background: #8080FF;
    font-family: sans-serif;
}

header {
    padding: 1em 0 0 1em;
    min-height: 150px;
    background:#f8f8f8;
}

h1 {
    color: #8080FF;
    font-size: 5em;
    margin-bottom: 0;
    line-height: 1em;
}

main {
    width: calc(100% - 2em);
    margin: 1em;
    color: #f8f8f8;
}